* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0 15px;
}

a {
  margin: 0px;
  text-decoration: none;
  color: #000000;
}
/* HEADER */
header {
  margin: 0px;
  padding: 24px 0;
  height: 88px;
  background-color: antiquewhite;
}

.menu {
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}
.links {
  display: inline-block;
  margin-right: 21px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}
.navigation {
  height: 19px;
  display: inline-block;
  margin-right: 400px;
}

.logos {
  width: 185px;
  height: 40px;
  display: inline-block;
  vertical-align: right;
  margin-right: 79px;
  max-width: 200px;
}

.navigation {
  display: inline-block;
}

.logo-first {
  margin: 0;
  text-decoration: none;
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: #62bfad;
}
.logo-second {
  margin: 0px;
  text-decoration: none;
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: #000;
}

.main-title {
  margin: 0px;
  padding-top: 162px;
  padding-bottom: 172px;
  height: 486px;
  background-color: #d52047;
}

.slogan {
  height: 116px;
  font-family: Limelight;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #fff;
}

/* ABOUT */
#about {
  margin: 0px;
  padding: 95px 0px 80px;
  background-color: #eff8f6ec;
}
.section-title {
  margin: 0px;
  font-size: 48px;
  line-height: 58px;
  color: #d52047;
}
.section-subtitle {
  margin: 0px;
  font-size: 32px;
  line-height: 38px;
  color: #000;
}
.about-content {
  margin-top: 40px;
  font-size: 0px;
}
.about-text {
  display: inline-block;
  width: 50%;
  padding: 24px;
  vertical-align: top;
  border-radius: 10px 0px 0px 10px;
  background-color: #e5e5e5;
}
.about-description {
  margin: 24px 0 0;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.read-more {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  color: #d52047;
}
.about-image {
  display: inline-block;
  width: 50%;
  height: 342px;
  vertical-align: top;
  border-radius: 0px 10px 10px 0px;
}

/* FEATURES */
#features {
  margin: 0px;
  padding: 95px 0px 80px;
}
.features-cards {
  display: inline-block;
  width: 322px;
  height: 409px;
  padding: 24px;
  margin-top: 40px;
  font-size: 0px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
}
.card-subtitle {
  margin: 24px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.features-second {
  display: inline-block;
  width: 322px;
  height: 409px;
  padding: 24px;
  margin-top: 40px;
  margin-left: 62px;
  margin-right: 62px;
  /* font-size: 0px; */
  /* margin: 0px; */
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
}
.discription-card {
  margin-top: 24px;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* FOOTER */
footer {
  height: 131px;
  margin: 0px auto;
  padding-top: 32px;
  background: #f9f7e8;
}
.copyright {
  /* display: inline;
  text-align: center; */
  min-width: 180px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.link-wisdom {
  display: inline-block;
  margin-bottom: 24px;
  text-decoration: underline;
  color: #000000;
}

.socials {
  text-align: center;
}

.socials-img {
  width: 24px;
  height: 24px;
  margin-top: 24px;
  margin-left: 16px;
}

/* .twitter:hover{
  color: #d52047;
} */
